
.login-form {
    background: url("src/assets/images/bg.jpg") ; 
    background-size: cover;
    display: flex;
    align-items: center;
    object-fit: cover; 
    justify-content: center;
  }
 
  .login-form .form-content {
    background-color: transparent;
    margin: auto;
  }
.form-login{
  display: table;
  width: 200px;
  height: 220px;
  margin-top: 200px;
}
.form-login > form {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
}
  
  
  
  