/* style{
    margin: auto;
    width: 100%;
    height: 100%;
}
.login-form {
    background: url("src/assets/images/bg.jpg") ; 
    background-size: cover;
    display: flex;
    align-items: center;
    object-fit: cover; 
     background-color: aqua;
  }
 
  .login-form .form-content {
    background-color: transparent;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .login-form .form-control {
    border-radius: 5px;
  }
  
  .login-form .btn.btn-primary.btn-block {
    border-radius: 5px;
  }
  
  .login-form .clearfix {
    margin-bottom: 20px;
  }
  
  .login-form label.float-left {
    font-size: 12px;
  }
  
  .login-form a.float-right {
    font-size: 12px;
  }
  
  .login-form p.text-center {
    margin-top: 20px;
  }
  
  .login-form a {
    color: #333;
  }
  
  .login-form .form-left img {
    width: 100%;
  }  */
  .fullscreen-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .fullscreen-image img {

    width: 100%;
    height: 100%;
  }
  